h1 {
	color:red;
	position: allign-center;
}

h3 {
	color: blue;
}


.grid3x3{
 width:300px;
 height:200px;
 clear:both;

}
 .grid3x3>div{
 width:100px;
 height:100px;
 float:left;
 line-height:100px;
 text-align:center;
    
}
.grid3x3>div>img{
 display:inline-block;
 vertical-align:middle;
 max-width:80%;
 max-height:80%;
}